
body{
    background: linear-gradient(yellow, aqua);
    text-align:center;
    padding:20px;
    font-size:20px;
}
h1{
    color: green;
}
a{
    color: blue;
    font-weight:bold;
}
img{
    width: 70%;
}
