body{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(red, green);
    text-align:center;
    padding:20px;
    font-size:20px;
}
a{
    text-align:center;
    color: white;
    font-weight:bold;
}

img{
    height: 100px;
    width: 100px;
}
